<div class="f-info">
    <div class="f-socail">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-company">
        &copy; 2025 Rentify. All Rights Reserved.
    </div>
    <div class="f-links">
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
    </div>
</div>