<% layout("layouts/boilerplate") %>
    <h3 style="margin-top: 6px;">All listings</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <% for(let listing of listings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-place">
          <div class="col">
            <div class="card h-100">
              <img src="<%= listing.image %>" class="card-img-top fixed-img" alt="listing image">
              <div class="card-img-overlay">
                <h4>Rentify</h4>
              </div>
              <div class="card-body ">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-price">₹ <%= listing.price.toLocaleString("en-IN") %> / Night</p>
              </div>
            </div>
          </div>
        </a>
        <% } %>
    </div>
      
      

